table, td, tr, th {
    border: 1px;
    border-style: solid;
    border-color: black;
    border-collapse: collapse;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

